
.task-action {
     cursor: pointer;
}

.contenedor {
    margin-left: 2rem;
    margin-right: 2rem;
   
}

.contenedor-form {
    margin-left: 2rem;
    margin-right: 2rem;
}

.boton-add {
    justify-content: space-around;
    background-color: #7A473D;
    color: #31333B;
    
}

.form-outline {
    display: flex;
    align-items: flex-end;
}

.list-group-item {
    background-color: #FEEEE8;
    border: white;
    margin: 2px;
    
}